body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    color: #333;
}
contact-list {
    list-style-type: none;
    padding: 0;
}
ul.contact-list li {
    background-color: #fff;
    margin: 10px auto;
    padding: 15px;
    border-radius: 5px;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    list-style-type: none;
}